Package: ch.mdaus.latchkey
Name: LatchKey
Depends: mobilesubstrate, org.thebigboss.libcolorpicker
Version: 2.1.2
Architecture: iphoneos-arm
Description: Move and theme the Face-ID lock glyph 
Depiction: https://repo.daus.ch/depictions/?p=ch.mdaus.latchkey
Maintainer: Maxwell Dausch <max.dausch@gmail.com>
Author: Maxwell Dausch <max.dausch@gmail.com>be
Section: Tweaks
